<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>The Jerky Bros</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link href="/assets/css/main.css" media="screen" title="no title">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="/public/assets/js/form.js"></script>
  <script src="/public/assets/js/jerky.js"></script>
  
</head>
<body>
{{{body}}}
</body>
</html>